In [14]:
import pandas as pd
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [4]:
path = "./Carseats.csv"
df = pd.read_csv(path)
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [11]:
labelencoder = LabelEncoder()
cat_features = ['ShelveLoc','Urban','US']
for c in cat_features:
    df[c] = labelencoder.fit_transform(df[c])
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0

# 1(a)
Fit a multiple regression model to predict Sales using Price, Urban, and US.

In [12]:
X = df[['Price','Urban','US']]
y = df['Sales']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [16]:
regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)

LinearRegression()

In [18]:
print("Intercept: ", regr.intercept_)
print("Coefficients:")
list(zip(X, regr.coef_))

Intercept:  13.072433400971706
Coefficients:

[('Price', -0.05455005821021932),
 ('Urban', -0.03500869926441805),
 ('US', 1.0027981253943987)]